*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /* background-color: black; */
}
h1{
    /* color: white; */
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: rgb(45, 206, 255);
    text-shadow: 3px 3px 0 #000;
    background-image: url(9919.png);
    background-size: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin: auto;
}
.form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black ;
    width: 100%;
    margin: auto;
    font-size: 24px;
    outline: none;
    text-align: center;
    /* color: white; */
}
.form button{
    border: none;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    margin-top: 16px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.login{
    width: 80%;
    margin: 20px auto;
    background-color: aquamarine;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 4px;
    padding: 8px;
    justify-content: space-around;
    display:grid;    

}
.bio{
    width: 80%;
    margin: 20px auto;
    background-color: rgb(189, 228, 156);
    border: 1px solid rgb(19, 19, 19);
    border-radius: 4px;
    padding: 8px;
    justify-content: center;
    text-align: center;
}
.repo{
    width: 80%;
    margin: 20px auto;
    background-color: rgb(175, 156, 228);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    text-align: center;
}
.repo1{
    width: 80%;
    margin: 20px auto;
    background-color: rgb(175, 156, 228);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 6px;
    padding: 8px;
    justify-content: center;
    text-align: center;
}